/* - Mobile: 330px
- Desktop: 1600px

- Family: [Montserrat](https://fonts.google.com/specimen/Montserrat)
- Weights: 500, 700

- Family: [Fraunces](https://fonts.google.com/specimen/Fraunces)
- Weights: 700 */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&display=swap');
/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Fraunces', serif; */
@media only screen and (min-width: 330px) {
body {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  background-color: #F2EAE2;
}

main {
 width: 10rem;
 height: 10rem;
 background-color: #033649;
 margin: auto;
 width: 330px;
 height: 600px;
 background-color: white;
 border-radius: 10px;
}
.padding {
    padding: 20px;

}
.mainimageM {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 330px;
    height: 240px;
}

.mainimageD {
    display:none;
}

.PERFUME {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #6C7289;
}

h1 {
    font-family: 'Fraunces', serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    color: #1C232B;
    margin-top: 10px;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 23px;
    color: #6C7289;
    margin-top: 10px;
}

.price {
    display:flex;
    align-items: center;
    gap:20px; 
    font-family: 'Fraunces', serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    color: #3D8168;
    margin-top: 30px;
}

.oldprice {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 13px;
    line-height: 23px;
    color: #6C7289;
    text-decoration-line: line-through;
}

button {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 295px;
    height: 48px;
    border-radius: 8px;
    border-none;
    background-color: #3D8168;
    margin-top: 20px;
   

}

.icon {
    display:flex;
    margin-right: 10px;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: white;
}

button:hover {
    background-color: #1A4032;
 }
}

@media only screen and (min-width: 600px) {

    
    .mainimageM {
        display:none;
        }
        
        .mainimageD {
            display:block;
            width: 300px;
            height: 450px;
        }

    main {
        display:flex;
        width: 600px;
        height: 450px;
    }
  
    .padding {
        padding: 30px 30px;
    }
    h1 {
        margin-top: 20px;
    }
    p {
        margin-top: 25px;
    }
    
    button {
        width: 235px;
        height: 48px;
        margin-top: 30px;
    }
}
